/* Loading Container */
.loading-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Prevents overflow */
  position: fixed; /* Fixes position to cover the entire viewport */
  top: 0; /* Aligns to the top */
  left: 0; /* Aligns to the left */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  z-index: 9999; /* Ensures it overlays other content */
}

/* Loading Background */
.loading-background {
  text-align: center; /* Center text inside the background */
  background-image: url('../assets/Images/Loading.png'); /* Adjust path to your loading image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  color: white; /* Text color for contrast */
  position: relative; /* Ensures positioning of child elements */
}

/* Loading Text */
.loading-background p {
  font-size: 24px; /* Adjust font size as needed */
  margin: 0; /* Remove default margin */
  z-index: 1; /* Ensure text is above the background */
  position: relative; /* Positioning for layering */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .loading-background p {
    font-size: 18px; /* Adjust font size for mobile */
  }
}

.loader {
  width: 44.8px;
  height: 44.8px;
  color: #ffffff;
  position: relative;
  background: radial-gradient(11.2px,currentColor 94%,#0000);
}

.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
          radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
          radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
          radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 22.4px 22.4px;
  background-repeat: no-repeat;
  animation: loader 1.5s infinite cubic-bezier(0.3,1,0,1);
}

@keyframes loader {
  33% {
    inset: -11.2px;
    transform: rotate(0deg);
  }

  66% {
    inset: -11.2px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}
